@mixin userButton {
  font-weight: bolder;
  font-size: 30px;
  margin: 20px auto;
  padding: 5px 10px;
  color: white;
}

.screen {
  height: 60vh;
  width: 40vw;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgb(56, 56, 56);
  color: white;

  .screen-logo {
    height: 100px;
    width: 80px;
    position: absolute;
    top: -50px;
  }

  .screen-title {
    font-size: 50px;
    font-weight: bold;
    margin: 60px auto 30px;
  }

  .play-game {
    @include userButton();
    background-color: #1eb337;
  }

  .auth {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .login {
      @include userButton();
      background-color: rgb(75, 75, 214);
    }

    .register {
      @include userButton();
      background-color: tomato;
    }
  }
}
